.emp-width {
    width: 80% !important;
}

.h4 {
    background-color: #80ced6 !important;
}

.emploc {
    font-size: 1.5rem !important;
}

.proemp {
    margin-left: 65px !important;
    height: 5rem !important;
    margin-top: -1em !important;
    background-color: #6e7878 !important;
}

.heading {
    width: 84% !important;
    box-shadow: 0px 0px 10px 5px #000000 !important;
}

.box-shadow {
    box-shadow: 0px 0px 4px 0px #000000 !important;


    // 
}

.emp-button {
    height: 42px;
    width: 128px;
    // margin-left: 8%;
    margin-bottom: 40%;
    background-color: $drawerBg !important;
    margin-top: 10px;
    // margin-right: 226px;
}

.emp_leave {
    height: 35px;
    width: 109px;
    top: 122px;
    left: 995px;
    position: absolute;
}

.emp_attendence1 {
    position: absolute;
    width: 320px;
    height: 139px;
    // left: 345px;
    // top: 192px;
    // background: #FFFFFF;
    // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.emp_attendence2 {

    position: absolute;
    width: 320px;
    height: 139px;
    left: 520px;
    // top: 192px;
    // background: #FFFFFF;
    // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.emp_attendence3 {

    position: absolute;
    width: 320px;
    height: 139px;
    left: 890px;
    // top: 192px;
    // background: #FFFFFF;
    // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}