.txt_color {
    color: $red;
    border-radius: 1.25rem !important;
    width: 80%;
    box-shadow: none !important;
    left: 0px;
}

.text-field {
    border-radius: 1.25rem !important;
    padding-left: 45px !important;
}
